header {
    padding: 32px 10%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
}

.logo-texto {
    margin-left: 5px;
    font-size: 24px;
}

.logo-texto span {
    color: #2A7AE4;
}

.input-wrapper {
    position: relative;
    display: flex;
    max-width: 450px;
    min-width: 272px;
    flex: 1;
    margin-right: 30px;
}

.input-busca {
    height: 40px;
    flex: 1;
    margin-left: 32px;
    padding: 8px 16px;
    border-radius: 20px;
    outline: none;
    border: none;
    background-color: #F5F5F5;
    font-size: 14px;
    line-height: 16px;
    color: #A2A2A2;
}

.search-icon {
    background-image: url('../imgs/search-icon.png');
    position: absolute;
    right: 15px;
    top: 11px;
    display: inline-block;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.btn1 {
    padding: 16px;
    border: 1px solid #2A7AE4;
    display: flex;
    justify-content: center;
    color: #2A7AE4;
    cursor: pointer;
    font-size: 14px;
}

.btn1:hover {
    background-color: #D4E4FA;
    ;
}

#btn-login {
    margin-left: auto;
    width: 182px;
    text-decoration: none;
}

@media (max-width: 900px) {

    header {
        padding: 32px 5%;
    }

    .logotipo {
        width: 23px;
        height: 17px;
    }

    .logo-texto {
        margin-left: 2px;
        font-size: 14px;
    }

}

@media (max-width: 540px) {
    header {
        padding: 16px 5%;
        justify-content: space-between;
    }

    .logo-texto span {
        color: #2A7AE4;
    }

    .logo {
        order: 1;
    }

    .input-wrapper {
        order: 3;
        min-width: auto;
        flex: 0;
        position: inherit;
    }

    .input-busca {
        display: none;

    }

    .search-icon {
        position: inherit;
        top: auto;
        left: auto;
        background-image: url('../imgs/search-icon2.png');
        background-size: cover;
        display: inline-block;
        align-self: center;
    }

    .btn1 {
        padding: 12px;
    }

    #btn-login {
        order: 2;
        width: 133px;
        margin: 0;
    }
}