* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Raleway', sans-serif;
}

html,
body {
   width: 100%;
   min-height: 100vh;
   overflow-x: hidden;
}

.banner-hero {
   display: flex;
   flex-direction: column;
   height: 352px;
   width: 100%;
   padding: 32px 10%;
   background: url('../imgs/banner.jpg') no-repeat center;
   background-size: cover;
   justify-content: flex-end;
   gap: 16px;
   color: #fff;
}

.hero-title {
   font-size: 52px;
   line-height: 61px;
}

.hero-subtitle {
   font-size: 22px;
   line-height: 26px;
}

.btn2 {
   padding: 16px;
   display: flex;
   justify-content: center;
   color: #fff;
   background-color: #2A7AE4;
   cursor: pointer;
   width: fit-content;
   font-size: 14px;
   line-height: 19px;
   outline: none;
   border: none;
}

.btn2:hover {
   background-color: #5595E9;
}

.container-principal {
   padding: 64px 10%;
   display: flex;
   gap: 64px;
   flex-direction: column;
}

.categoria-wrapper {
   display: flex;
   flex-direction: column;
}

.categoria-header {
   display: flex;
   justify-content: space-between;
   align-items: baseline;
}

.categoria-header h3 {
   color: #464646;
   font-weight: 700;
   font-size: 32px;
   line-height: 38px;
}

.categoria-header a {
   font-weight: 700;
   font-size: 16px;
   text-decoration: none;
   color: #2A7AE4;
}

.categoria-header i {
   color: #2A7AE4;
   margin-left: 10px;
}

.categoria-cards {
   padding-block: 16px;
   gap: 16px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.card-wrapper {
   display: flex;
   flex-direction: column;
   width: 15.5%;
   gap: 8px;
}

.card-image {
   width: 100%;
   cursor: pointer;
}

.card-wrapper h2 {
   font-size: 14px;
   font-weight: 400;
}

.card-wrapper span {
   font-size: 16px;
   font-weight: 700;
   color: #464646;
}

.card-wrapper a {
   color: #2A7AE4;
   text-decoration: none;
   font-weight: 700;
   font-size: 16px;
}

@media (max-width: 1280px) {
   .card-wrapper {
      width: 18%;
   }
}

@media (max-width: 900px ){
   .card-wrapper {
      width: 23%;
   }

   .banner-hero {
      padding: 32px 5%;
   }

   .categoria-header h3 {
      font-size: 22px;
      line-height: 26px;
   }

   .container-principal {
      padding: 64px 5%;
   }
}

@media (max-width: 540px) {

   .container-principal  {
      padding: 16px 5%;
      gap: 32px;
   }

   .banner-hero {
      padding: 16px 5%;
   }

   .banner-hero {
      height: 192px;
      gap: 8px;
   }

   .hero-title {
      font-size: 22px;
      line-height: 26px;
   }

   .hero-subtitle {
      font-size: 14px;
      line-height: 16px;
      font-weight: 600;
   }

   .categoria-cards {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 16px;
   }

   .card-wrapper {
      width: auto;
      max-width: 200px;
   }

   .btn2 {
      padding: 12px;
   }

}